<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme</title>
</head>

<body>

    <h1>show all data</h1>
    {% for data in studentdata %}

    {{ data.name }}
    {{ data.clsname }}
    {{ data.section }}
    {{ data.marks }}

    <br>
    {% endfor %}

    <hr>
    <h1>show custom context data </h1>
    {% for data in contextdata %}

    {{ data.name }}
    {{ data.clsname }}
    {{ data.section }}
    {{ data.marks }}

    <br>
    {% endfor %}

</body>

</html>