{% extends 'stuapp/base.html' %}


{% block title %}
table
{% endblock title %}


{% block content %}
<div class="container text-center my-3">

    <a href="{% url 'generate' %}">generate data</a>




    <h1>see your data </h1>
    <table class="table table-bordered border-primary">

        <thead>
            <tr>
                <th scope="col">sr. no.</th>

                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <!--we can capitalize first letter by capfirst  -->
                <td>{{ mydata.id }}</td>
                <td>{{ mydata.Name|capfirst }}</td>
                <td>{{ mydata.Phone }}</td>
                <td>{{ mydata.Email }}</td>
                <td>{{ mydata.Dob }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}